<article class="markdown-body entry-content container-lg" itemprop="text">
    <h1 dir="auto">
        <a id="user-content-sistema-de-botón-de-pánico" class="anchor" aria-hidden="true" href="#sistema-de-botón-de-pánico"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path>
            </svg></a>Sistema de Botón de Pánico
    </h1>
    <p dir="auto">
        El Botón de pánico de emergencia SOS con Wi-Fi brinda un medio para crear
        señales de auxilio en casos de emergencias.
    </p>
    <h1 dir="auto">
        <a id="user-content-capturas-de-pantalla" class="anchor" aria-hidden="true" href="#capturas-de-pantalla"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path>
            </svg></a>Capturas de Pantalla
    </h1>
    <p dir="auto">
        <a target="_blank" rel="noopener noreferrer" href="img/Captura001.jpeg"><img src="img/Captura001.jpeg" alt="Sistema de Botón de Pánico" style="max-width: 100%" /></a>
        <a target="_blank" rel="noopener noreferrer" href="img/Captura002.jpeg"><img src="img/Captura002.jpeg" alt="Maps" style="max-width: 100%" /></a>
        <a target="_blank" rel="noopener noreferrer" href="img/Captura003.jpeg"><img src="img/Captura003.jpeg" alt="Inicio de sesión" style="max-width: 100%" /></a>
    </p>
    <h1 dir="auto">
        <a id="user-content-instalación-para-desarrollo" class="anchor" aria-hidden="true" href="#instalación-para-desarrollo"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path>
            </svg></a>Instalación para desarrollo
    </h1>
    <ul dir="auto">
        <li>Clona el repositorio en una carpeta local.</li>
        <li>
            Abre la consola o terminal en la raiz del proyecto (en Visual Studio Code
            se abre con <code>Ctrl+Ñ</code>).
        </li>
        <li>
            Ejecuta <code>npm install</code> para instalar los módulos requeridos como
            <code>Express</code>, <code>Morgan</code> y <code>EJS</code>.
        </li>
        <li>
            Con el comando <code>npm run dev</code> activamos el módulo de desarrollo
            <code>nodemon</code>, que nos permite actualizar cambios en el web server
            sin tener que reiniciarlo manualmente.
        </li>
    </ul>
    <div class="highlight highlight-source-shell position-relative overflow-auto">
        <pre>
git clone https://github.com/xenom-flauta-dulce/panic-button-system.git
    npm install
    npm run dev</pre>
        <div class="zeroclipboard-container position-absolute right-0 top-0">
            <clipboard-copy aria-label="Copy" class="
          ClipboardButton
          btn
          js-clipboard-copy
          m-2
          p-0
          tooltipped-no-delay
        " data-copy-feedback="Copied!" data-tooltip-direction="w" value="git clone https://github.com/xenom-flauta-dulce/panic-button-system.git
    npm install
    npm run dev" tabindex="0" role="button">
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-copy js-clipboard-copy-icon m-2">
                    <path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path>
                    <path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path>
                </svg>
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="
            octicon octicon-check
            js-clipboard-check-icon
            color-fg-success
            d-none
            m-2
          ">
                    <path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path>
                </svg>
            </clipboard-copy>
        </div>
    </div>
    <p dir="auto">luego visita en el navegador: <code>localhost:5500</code></p>
    <h1 dir="auto">
        <a id="user-content-personalización" class="anchor" aria-hidden="true" href="#personalización"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path>
            </svg></a>Personalización
    </h1>
    <ul dir="auto">
        <li>
            <code>puerto</code>, este es el puerto http del server. por defecto es
            <code>5500</code>. Para cambiarlo, ir a <code>src\index.js</code> y
            configurar el número de puerto en la línea:
        </li>
    </ul>
    <div class="snippet-clipboard-content position-relative overflow-auto">
        <pre><code>app.set('puerto', process.env.PORT || 5500);</code></pre>
        <div class="zeroclipboard-container position-absolute right-0 top-0">
            <clipboard-copy aria-label="Copy" class="
          ClipboardButton
          btn
          js-clipboard-copy
          m-2
          p-0
          tooltipped-no-delay
        " data-copy-feedback="Copied!" data-tooltip-direction="w" value="app.set('puerto', process.env.PORT || 5500);" tabindex="0" role="button">
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-copy js-clipboard-copy-icon m-2">
                    <path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path>
                    <path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path>
                </svg>
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="
            octicon octicon-check
            js-clipboard-check-icon
            color-fg-success
            d-none
            m-2
          ">
                    <path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path>
                </svg>
            </clipboard-copy>
        </div>
    </div>
    <h2 dir="auto">
        <a id="user-content-tareas-pendientes" class="anchor" aria-hidden="true" href="#tareas-pendientes"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path>
            </svg></a>Tareas Pendientes
    </h2>
    <ul class="contains-task-list">
        <li class="task-list-item">
            <input type="checkbox" id="" disabled="" class="task-list-item-checkbox" />
            Agregar código arduino que envía datos para la alarma al presionar botón.
        </li>
        <li class="task-list-item">
            <input type="checkbox" id="" disabled="" class="task-list-item-checkbox" />
            Permitir inicio de sesión mediante JSON o Google.
        </li>
        <li class="task-list-item">
            <input type="checkbox" id="" disabled="" class="task-list-item-checkbox" />
            Visualizar los eventos en forma de tabla y/u otro tipo de gráficos
            estadísticos.
        </li>
        <li class="task-list-item">
            <input type="checkbox" id="" disabled="" class="task-list-item-checkbox" />
            Conectar los datos de Arduino mediante POST con la API de Google Maps.
        </li>
        <li class="task-list-item">
            <input type="checkbox" id="" disabled="" class="task-list-item-checkbox" checked="" />
            Tema oscuro
        </li>
        <li class="task-list-item">
            <input type="checkbox" id="" disabled="" class="task-list-item-checkbox" />
            Tema claro
        </li>
    </ul>
</article>