.menulist {
    /* height: calc(100vh - 7rem); */
    background: var(--html-bg-seccond);
    margin-top: 0px;
    height: 100%;
    width: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
    top: 0;
}

.menulist {
    /* margin-bottom: 30px; */
    margin-bottom: 10px;
}

.searchbox {
    justify-content: center;
    margin-top: 20px;
    display: flex;
}

.searchboxitem {
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: var(--html-main-text);
    font-size: 15px;
    transition-duration: 250ms;
    background-color: #1a1919;
    font-family: 'Nunito', sans-serif;
}

.searchboxitem:hover {
    background-color: #1d1c1c;
}


li {
    display: list-item;
    color: var(--html-main-text);
}

ul {
    list-style: none;

}

.categorylist .button {
    border: 0;
    background: transparent;
    color: var(--html-main-text);
    padding: 13px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}


.button:hover { 
    background: var(--button-bg-hover);
}


.arrow {
    display: flex;
}

.arrow i {
    padding-left: 5.25px;
    padding-right: 5.25px;
}

.menulink:hover {
    color: var(--html-link);
}

a {
    text-decoration: none;
    color: var(--html-main-text);
    transition-duration: 250ms;
}




nav.menulist[collapsed-nav] {
    width: 72px;
    transition: width 250ms cubic-bezier(0,0,0.2,1);
    margin-bottom: 0px;
}

.menulink[collapsed-nav] > i {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
    width: 80%;
    background-color: crimson;
    border-radius: 35%;
    margin: 8px;
    text-align: center;
}

.listmenu[collapsed-nav] > ul,
.categorylist[collapsed-nav] > ul {
    display: initial!important;
}