.wip {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 250px;
    font-size: xx-large;
}
.maintitle{
    justify-content: center;
    display: flex;
    
}

.principal {
    /* display: flex; */
    /* justify-content: normal; */
    /* margin-top: 5px; */
    /* overflow-x: hidden; */
    font-size: 1em;
    color: white;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
}

.section {
    text-align: justify;
}




/* Tables */
/* Prevent double borders */

table {
  caption-side: bottom;
  /* border-collapse: collapse; */
}

/* 1. Removes font-weight bold by inheriting
2. Matches default `<td>` alignment by inheriting `text-align`.
3. Fix alignment for Safari */

th {
  font-weight: 1;
  text-align: inherit; /*2*/
  text-align: -webkit-match-parent; /*3*/
}

thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-top: 4px solid white;
  border-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}

.table-dark {
    --bs-table-bg: #232523;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: white;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: white;
    color: white;
    /* border-color: #373b3e; */
    border-color: #dee2e6;
}

.table {
    /* --bs-table-bg: transparent; */
    --bs-table-accent-bg: transparent;
    /* --bs-table-striped-color: #212529; */
    /* --bs-table-striped-bg: rgba(0, 0, 0, 0.05); */
    /* --bs-table-active-color: #212529; */
    /* --bs-table-active-bg: rgba(0, 0, 0, 0.1); */
    /* --bs-table-hover-color: #212529; */
    /* --bs-table-hover-bg: rgba(0, 0, 0, 0.075); */
    width: 100%;
    margin-bottom: 1rem;
    /* color: #212529; */
    vertical-align: top;
    border-color: #dee2e6;
    border-collapse: collapse;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    /* background-color: var(--bs-table-bg); */
    border-bottom-width: 2px;
    box-shadow: inset 0 0 0 9999px transparent;
}
tbody > tr {
    background-color: var(--bs-table-bg);
}
tbody > tr:hover {
    padding: .5rem .5rem;
    background-color: var(--bs-table-hover-bg);
    border-bottom-width: 2px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-hover-bg);
}
thead {
    background-color: var(--html-main-bg);
}

thead:hover {
    background-color: var(--html-seccond-color);
}

input {
    text-rendering: auto;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: #3b3b3b;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: #858585;
    border-image: initial;
}